@model IEnumerable<ELibrary.Models.Book>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>
@if (SignInManager.IsSignedIn(User))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (SignInManager.IsSignedIn(User))
        {
@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Format)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Language)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PublishDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Edition)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Holding)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
    </td>
</tr>} }
            else
            {
@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Format)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Language)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PublishDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Edition)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Holding)
    </td>
    <td>
        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
    </td>
</tr>}}
    </tbody>
</table>
